<!-- <div>
    <app-card>
       <p title>This is 1</p> 
       <p body>This is 1</p> 
    </app-card>
</div>

<div>
    <app-card>
       <p title>This is 2</p> 
    </app-card>
</div> 

<h1>Testing..</h1>
<app-profile 
[Hi]="value"
[title]="title"
/>
<app-getter-input [title]="title"></app-getter-input>
<app-pannel (meroEvent)="dataReceived($event)" />

<div *ngIf="receivedDataFromChild">{{receivedDataFromChild}}</div>

<app-color-button />

<app-learning-ng /> -->

<!-- <div *ngIf="isActive">
    <app-lifecycle-hooks [message]="title" />
    <button (click)="destroyHook()">Destroy</button>
</div> -->


<!-- <app-view-example /> -->

<!-- <div>
    <app-taskcomponent *ngFor="let task of tasks" [taskName]="task"/>
</div> -->

<!-- <app-parent>
    <app-child />
    <app-taskcomponent taskName="TaskDemo" />
</app-parent> -->


<!-- <div>
    <ng-container *ngComponentOutlet="getProfileComponent()" />
</div> -->

<!-- <div>
    <app-host />
</div> -->

<!-- <div>
    <ng-container *ngComponentOutlet="checkProfile" />
</div> -->

<!-- <app-userlist /> -->

<!-- <a routerLink="/users">Users</a><br>
<a routerLink="/rxjs">Rxjs</a>
 <router-outlet /> -->


<!-- NGRX
 <app-main /> -->

 <!-- <app-form-array /> -->

 <app-mero-form />