<div class="container mt-5">
  <!-- FORM -->
  <form
    [formGroup]="developerForm"
    (ngSubmit)="onSubmit()"
    class="rounded shadow p-5"
    [hidden]="isSubmitted"
  >
    <!-- Your Skills?(if any) -->
    <h4 class="fw-bold">
      Skills:
      <!-- Add -->
      <button type="button" class="btn btn-success" (click)="addSkill()">
        <i class="bx bx-plus-circle">Add</i>
      </button>
    </h4>

    <!-- Form Body -->
    <div formArrayName="skills" class="p-2">
      <div
        *ngFor="let skill of skills.controls; let i = index"
        [formGroupName]="i"
        class="row g-2 align-items-center mb-2"
      >
        <!-- Skill Name -->
        <div class="col-md-5">
          <input
            formControlName="name"
            class="form-control"
            placeholder="Enter a skill"
          />
        </div>

        <!-- Skill Level -->
        <div class="col-md-5">
          <select formControlName="level" class="form-select">
            <option value="" disabled selected>What's your level?</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Expert">Expert</option>
          </select>
        </div>

        <!-- Delete -->
        <div class="col-md-2 text-center">
          <button type="button" class="btn btn-danger" (click)="removeSkill(i)">
            -
          </button>
        </div>
      </div>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary m-1 float-end">Submit</button>
  </form>
</div>

<!-- SHOW -->
<div class="container mt-5" [hidden]="!isSubmitted">
  <h2>Your Skills:</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Skill Name</th>
            <th>Skill Level</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let skill of developerForm.value.skills">
            <td>{{ skill.name }}</td>
            <td>{{ skill.level }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-primary mt-3"
    (click)="isSubmitted = false"
  >
    Edit
  </button>
</div>
